@import 'variables';
$padding: 2em;
$color_main: #21262C;
$color_secondary: #EEDD59;
$color_3: #EBF4F4; 


.productCard {
    background-color: $color_secondary;
    display: grid;
    justify-content: center;
    grid-template-rows: 60% 40%;
    height: 100%;
    padding: 2em;
    .productCard__text {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: .5em;
        h3 {
            text-align: left;
        }
        span {
            width: 100%;
            text-align: left;
        }
        button {
            padding: .2em 1em;
            width: 100%;
            a{
                text-decoration: none;
                font-weight: $fw-bold;
                color: $dark-gray;
            }
        }
    }
}