@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');


$yellow: #EEDD59;
$dark-gray: #21262C;
$white: #EBF4F4;

$f-family: 'Poppins', sans-serif;
$fw-thin: 200;
$fw-regular: 400;
$fw-bold: 700;