nav {
    /* position: absolute; */
    top: 0;
    background-color: #626262;
    width: 100% ;
    color: aliceblue;
    padding: 2em;
    display: flex;
    align-items: center;
}

nav > a {
    text-decoration: none;
    color: white;
}

nav > a:hover, a:active {
    color: red
}

